<div class="container_12 main_container">
  <aside class="grid_3">
    <ul class="info">
      <li class="title">Details</li>
      <ul class="details">
        <li>
          <span id="bug_status" class="<%= bug.status.toLowerCase() %>">
            <%= bug.status %>
          </span>
        </li>
        <li>
          <span class="name">Assigned To:</span>
          <span class="value"><%= bug.assigned_to %></span>
        </li>
        <li>
          <span class="name">Product:</span>
          <span class="value"><%= bug.product %></span>
        </li>
        <li>
          <span class="name">Component:</span>
          <span class="value"><%= bug.component %></span>
        </li>
      </ul>
    </ul>
  </aside>
  <section class="grid_9">
    <article class="wide">
      <h1><%= bug.summary %></h1>
      <ul class="comments">
        <% for (var k = 0; k < bug.comments.length; k++) { %>
        <% var comment = bug.comments[k] %>
        <li>
          <span class="avatar">
            <img src="<%= comment.creator.gravatar %>">
          </span>
          <div class="bubble">
            <div class="comment">
              <div class="cmeta">
                <p class="author"><%= comment.creator.displayName %></p>
                <p class="date"><%= comment.dateString %></p>
              </div>
              <div class="body">
                <%= comment.text %>
              </div>
            </div>
          </div>
        </li>
        <% } %>
      </ul>
    </article>
  </section>
</div>